.experience-container{
    padding: 20px 50px;
    max-width: 1440px;
    margin: auto;
}

.heading-experience{
    font-size: 2.5rem;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.experience-box{
    border: 2px solid white;
    /* max-width: 70vw; */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(94, 94, 174, 0.8);
    /* background-image: url('../../assets/amazon.png'); */
    background-size: cover;

}

.experience-inner-box{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.experience-image-container{
    display: flex;
    align-items: center;
}
.experience-image-container img{
    width: 100%;
    border-radius: 5px;
}

.experience-box h1{
    font-size: 2rem;
    padding: 2rem 0;
    color: #fff;
    text-decoration: underline;
}
.experience-text p{
    color: lightgray;
    margin-bottom: 10px;
}
.experience-text p span{
    /* color: #fff; */
    color: #fff;
    margin-right: 5px;

}
.experience-text p ul{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.experience-text p ul li{
    list-style-type: circle;
    color: #fff;
}

@media (max-width: 768px){
    .experience-container{
        padding: 20px;
        max-width: 1440px;
        margin: auto;
    }
    .experience-inner-box{
        grid-template-columns: 1fr ;

    }
    .experience-image-container{
        display: flex;
        justify-content: center;
    }
    .experience-image-container img{
        width: 60%;

    }
    
}

@media (max-width: 370px){

    .experience-container{
        padding:10px
    }
    .heading-experience{
        font-size: 2rem;
        text-align: center;
        padding-left: 0px;
    }
    .experience-box{
        border: 2px solid white;
        max-width: 100vw;
        margin: 0 auto;
        /* padding: 20px; */
        border-radius: 5px;
        margin-bottom: 10px;
    
    }
    .experience-inner-box{
        grid-template-columns: 1fr ;
    }
    .experience-box h1{
        font-size: 1.5rem;
       
    }
}