.experience-container{
    padding-top: 20px;
}

.heading-experience{
    font-size: 2.5rem;
    padding-left: 60px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.experience-box{
    border: 2px solid white;
    max-width: 70vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0, 0.2);
}
.experience-box img{
    float: right;
    width: 200px;
    margin-top: 150px;
}
.experience-box h1{
    font-size: 2rem;
    padding: 2rem 0;
}
.experience-text p{
    color: lightgray;
    margin-bottom: 10px;
}
.experience-text p span{
    color: #fff;
    margin-right: 5px;

}
.experience-text p ul{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.experience-text p ul li{
    list-style-type: circle;
}