.main-container{
    background-image: url('../src/assets/bg-hero.jpg');
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
    padding: 0 50px 20px 50px  ;

}
h1{
    color: #fff;
}

@media (max-width: 768px){
    .main-container{
        background-size: auto;
    }
}
@media (max-width: 375px) {
    .main-container{
        padding: 0 20px 10px ;
    }
}