.main-container{
    background-size: cover;

    background-attachment: fixed;


}
h1{
    /* color: #fff; */
}

@media (max-width: 768px){
    .main-container{
        background-size: auto;
    }
}
@media (max-width: 375px) {
    .main-container{
        
    }
}